/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700,800&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

/* TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 dark:bg-gray-800;
}

section {
  @apply bg-gray-50 dark:bg-gray-800 transition-colors duration-500;
}

section._bg-alternate {
  @apply bg-white dark:bg-gray-850 transition-colors duration-500;
}

section._border {
  @apply border-b border-gray-200 dark:border-gray-700;
}

._section-inner {
  @apply overflow-visible relative z-10 max-w-screen-lg xl:max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 py-16 md:py-20 lg:py-24 xl:py-28;
}

._section-title {
  @apply text-left text-gray-800 dark:text-gray-100 text-3xl sm:text-5xl font-bold;
}

a {
  @apply text-blue-600 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-600 transition-colors duration-500;
}

#_loading-screen {
  @apply z-50 w-full h-full fixed top-0 left-0 bg-gray-50 dark:bg-gray-800;
}

/* HEADER */

header {
  @apply fixed top-0 left-0 w-full z-30;
}

header a, footer a {
  @apply text-gray-500 dark:text-gray-500 hover:text-gray-800 dark:hover:text-gray-200;
}

._sticky_light {
  @apply bg-white;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.5);
}

._sticky_dark {
  @apply bg-gray-850;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 1.0);
}

/* Navigation bar */

nav {
  @apply max-w-screen-lg xl:max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 py-5 flex justify-between items-center;
}

._nav-logo-container {
  @apply text-2xl sm:text-3xl text-gray-800 dark:text-gray-100 hover:text-gray-800 dark:hover:text-gray-100;
}

._nav-items {
  @apply hidden md:inline-block align-middle flex items-center justify-center text-xl text-gray-500 dark:text-gray-500;
}

._nav-item {
  @apply inline px-5 py-2 hover:text-gray-800 dark:hover:text-gray-200;
}

._nav-buttons {
  @apply inline-block ml-5;
}

._nav-buttons button {
  @apply focus:outline-none text-xl;
}

._nav-buttons button i {
  @apply align-middle text-gray-500 dark:text-gray-500 hover:text-gray-800 dark:hover:text-gray-200 transition-colors duration-500;
}

/* BODY */

/* Hero section */

._hero-title {
  @apply text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-900 dark:text-gray-100 mt-10 xl:mt-14;
}

._hero-title em {
  @apply not-italic text-blue-600 dark:text-blue-400;
}

._hero-description {
  @apply max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mt-8 xl:mt-10 text-gray-500 dark:text-gray-400;
}

._hero-description-extra {
  @apply max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mt-4 text-gray-500 dark:text-gray-400;
}

._hero-version {
  @apply text-lg sm:text-2xl text-left text-gray-500 dark:text-gray-400 mt-2 sm:mt-4 md:mt-6 lg:mt-8;
}

._hero-download-buttons {
  @apply flex flex-wrap space-y-4 md:space-y-0 md:space-x-4 mt-5 md:mt-8 xl:mt-10;
}

._hero-download-button {
  @apply w-full md:w-56 bg-gray-200 dark:bg-gray-900 text-gray-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-400 leading-6 py-2 sm:px-6 border border-gray-300 dark:border-black rounded-xl flex items-center justify-center space-x-3 focus:outline-none transition-colors duration-500;
}

._hero-image-container {
  @apply relative mt-8 md:mt-9 lg:mt-10 xl:mt-12 flex items-center justify-center;
}

#_hero-video {
  @apply z-20 w-full h-full border border-gray-300 dark:border-gray-900 rounded-md md:rounded-lg lg:rounded-xl shadow-2xl;
}

#_hero-poster-container {
  @apply absolute z-10 w-full h-full flex items-center justify-center;
}

#_hero-poster {
  @apply absolute w-full h-full border border-gray-300 dark:border-gray-900 rounded-md md:rounded-lg lg:rounded-xl shadow-2xl;
}

#_hero-play-button {
  @apply absolute w-24 h-24 md:h-32 md:w-32 text-4xl md:text-5xl text-white dark:text-gray-900 flex items-center justify-center rounded-full bg-blue-600 hover:bg-blue-400 dark:bg-blue-400 dark:hover:bg-blue-500 shadow-2xl focus:outline-none;
}

/* Main features section */

._main-feature-container ~ ._main-feature-container {
  @apply mt-2 md:mt-10 xl:mt-20;
}

._main-feature-poster-container {
  @apply z-10 w-full h-full flex items-center justify-center;
}

._main-feature-poster {
  @apply w-full h-full border border-gray-300 dark:border-gray-900 rounded-md shadow-2xl;
}

/* Features section */

._feature-container {
  @apply w-full sm:w-1/2 md:w-1/2 lg:w-1/2 mt-12 pr-12;
}

._feature-container i {
  @apply text-4xl text-blue-600 dark:text-blue-400;
}

._feature-container h3 {
  @apply font-semibold mt-5 text-gray-800 dark:text-gray-200 text-2xl;
}

._feature-container p {
  @apply leading-8 mt-3 text-gray-600 dark:text-gray-400 text-xl;
}

/* Contact section */

._contact-form-field {
  @apply appearance-none block w-full mb-4 py-3 px-4 leading-tight text-lg text-gray-700 dark:text-gray-100 placeholder-gray-300 dark:placeholder-gray-500 bg-white dark:bg-gray-700 border border-gray-200 focus:border-blue-600 dark:border-gray-700 dark:focus:border-blue-400 rounded focus:outline-none;
}

._contact-form-button {
  @apply inline-block w-full py-4 px-8 leading-none text-white bg-blue-600 hover:opacity-75 font-semibold rounded shadow;
}

/* FOOTER */

footer {
  @apply flex flex-wrap items-center justify-between py-10 px-10;
}

._footer-hline {
  @apply mx-4 sm:mx-7 border-b border-gray-200 dark:border-gray-700;
}

._footer-left-container {
  @apply flex flex-col items-center lg:items-start w-full lg:w-auto text-lg text-gray-500 dark:text-gray-500;
}

._footer-right-container {
  @apply flex flex-col items-center lg:items-end w-full lg:w-auto text-center;
}

._footer-right-links {
  @apply flex items-center justify-center space-x-3 pt-3 lg:pt-0 mx-auto lg:mx-0 lg:ml-auto text-lg text-gray-500 dark:text-gray-500 transition duration-500;
}

._footer-right-design {
  @apply inline-block pt-3 text-center text-lg text-gray-500 dark:text-gray-500;
}
